<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.quali.member.model.dao.MemberMapper">

	<select id="login" parameterType="member">
		SELECT
				MEMBER_NO AS memberNo,
				MEMBER_ID AS memberId,
				MEMBER_PWD AS memberPwd,
				MEMBER_NAME AS memberName,
				MEMBER_RRN AS memberRrn,
				PHONE,
				EMAIL,
				CREATE_DATE AS createDate,
				STATUS
		  FROM
		  		MEMBER
		 WHERE
				MEMBER_ID = #{memberId}
		   AND 
		   		(STATUS = 'N' OR STATUS = 'A')
		<!-- 비밀번호의 경우 암호화 과정을 거쳤기에 여기서 판단 불가능 -->
	</select>

	<insert id="signUp" parameterType="member">
		INSERT
		  INTO
		  		MEMBER
		VALUES
				(
				SEQ_MEMBER_NO.NEXTVAL,
				#{memberId},
				#{memberPwd},
				#{memberName},
				#{memberRrn},
				#{phone},
				#{email},
				default,
				default
				)
	</insert>

	<select id="checkId" parameterType="String" resultType="_int">
		SELECT
				COUNT(*)
		  FROM
		  		MEMBER
		 WHERE
		 		MEMBER_ID = #{memberId}
		   AND
		   		STATUS = 'N'
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE
				MEMBER
		   SET
		   		MEMBER_PWD = #{memberPwd},
		   		MEMBER_NAME = #{memberName},
		   		MEMBER_RRN = #{memberRrn},
		   		EMAIL = #{email},
		   		PHONE = #{phone}
		  WHERE
		  		MEMBER_ID = #{memberId}
		   		
	</update>
	
	<!-- 학력상태 불러오기, 있는지 확인하기 1이 돌아오면 있는거, 0이 돌아오면 없는거-->
	<select id="selectMemberEducation" parameterType="educationStatus">
		SELECT
				MEM_NO memNo,
				EDUCATION education,
				SCHOOL_NAME schoolName,
				GRADUATION_DATE graduationDate,
				MAJOR
		  FROM
		  		EDUCATION_STATUS
		 WHERE
		 		MEM_NO = #{memNo}
	</select>
	
	<!-- 없다면 INSERT -->
	<insert id="insertMemberEducation" parameterType="educationStatus">
		INSERT
		  INTO 
		  		EDUCATION_STATUS 
		  		(
		        MEM_NO,
		        EDUCATION,
		        SCHOOL_NAME,
		        GRADUATION_DATE,
		        MAJOR
			    ) 
		VALUES 
				(
		        #{memNo},
		        #{education},
		        #{schoolName},
		        #{graduationDate},
		        #{major}
	 			)
	</insert>
	
	<update id="updateMemberEducation" parameterType="educationStatus">
	    UPDATE 
	    		EDUCATION_STATUS
		   SET
		        EDUCATION = #{education},
		        SCHOOL_NAME = #{schoolName},
		        GRADUATION_DATE = #{graduationDate},
		        MAJOR = #{major}
		 WHERE
		        MEM_NO = #{memNo}
	</update>

	<update id="deleteMember" parameterType="member">
		UPDATE
				MEMBER
		   SET
		   		STATUS = 'Y'
		 WHERE
		  		MEMBER_NO =  #{memberNo}
	</update>

</mapper>