<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.quali.confirmation.model.vo.Confirmation" alias="confirmation" />
		<typeAlias type="com.kh.quali.qualification.model.vo.ProfesionalQualification" alias="profesionalQualification" />
		<typeAlias type="com.kh.quali.qualification.model.vo.TechnicalQualification" alias="technicalQualification" />
		<typeAlias type="com.kh.quali.qualification.model.vo.TechCategory" alias="techCategory" />
		<typeAlias type="com.kh.quali.qualification.model.vo.TechnicalField" alias="technicalField" />
		<typeAlias type="com.kh.quali.qualification.model.vo.TypeQualification" alias="typeQualification" />
		<typeAlias type="com.kh.quali.qualification.model.vo.ProfesionalDept" alias="profesionalDept" />
		<typeAlias type="com.kh.quali.takenQualiExam.model.vo.TechQualificationExam" alias="techQualificationExam" />
		<typeAlias type="com.kh.quali.takenQualiExam.model.vo.ProQualificationExam" alias="proQualificationExam" />
		<typeAlias type="com.kh.quali.takenQualiExam.model.vo.TakenQualiExam" alias="takenQualiExam" />
		<typeAlias type="com.kh.quali.takenQualiExam.model.vo.Subject" alias="subject" />
		<typeAlias type="com.kh.quali.takenQualiExam.model.vo.ExamPlace" alias="examPlace"/>
		<typeAlias type="com.kh.quali.place.model.vo.Place" alias="place"/>
		<typeAlias type="com.kh.quali.place.model.vo.District" alias="district"/>
		<typeAlias type="com.kh.quali.provisionalAnswer.model.vo.ProvisionalAnswer" alias="provisionalAnswer"/>
		<typeAlias type="com.kh.quali.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.quali.member.model.vo.EducationStatus" alias="educationStatus"/>
		<typeAlias type="com.kh.quali.notice.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.quali.answer.model.vo.Answer" alias="answer"/>
		<typeAlias type="com.kh.quali.comment.model.vo.Comment" alias="comment"/>
		<typeAlias type="com.kh.quali.application.model.vo.Application" alias="application"/>
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/qualification-mapper.xml" />
		<mapper resource="/mapper/takenExam-mapper.xml" />
		<mapper resource="/mapper/notice-mapper.xml" />
		<mapper resource="/mapper/answer-mapper.xml" />
		<mapper resource="/mapper/comment-mapper.xml" />
		<mapper resource="/mapper/provisionalAnswer-mapper.xml"/>
		<mapper resource="/mapper/application-mapper.xml"/>
	</mappers>



</configuration>